* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#message-list {
  padding-bottom: 10px;
  background-color: #f2f2f2;
  /*height: 80%;*/
  height: calc(100vh - var(--message-input-height));
  overflow-y: scroll;
}

.input-box {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #d9d9d9;
}

#message-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

#send-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.message {
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.nickname {
  font-weight: bold;
}

.datetime {
  font-size: 12px;
  color: gray;
}

.tokencost {
  font-size: 12px;
  color: gray;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.8s linear infinite;
  margin-right: 10px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}